.button {
  background-color: $button-bg;
  border: none;
  color: $button-color;
  cursor: pointer;
  font-size: $base-font-size;
  line-height: 1.2;
  margin-bottom: $space;
  padding: $input-spacing;
  text-transform: uppercase;
}


.button--secondary {
  background: $button-secondary-bg;
  border: 1px solid $button-secondary-border-color;
  color: $button-secondary-color;
}


.button--logout {
  background-color: $light-purple;
  border: none;
  color: white;
  cursor: pointer;
  font-size: $base-font-size;
  line-height: 1.2;
  padding: 5px;
  text-transform: uppercase;
  position: absolute;
      right: 2rem;
      top: 4rem;
}
.delete-button{
  width:50%
}
