
@mixin desktopView(){
  //apply styles when the browser is atleast 50rem
  @media (min-width:50rem){
    @content
  }

}

.header {
  background-color: $header-bg;
  color: $header-color;
}

.header__content {
  align-items: center;
  display: flex;
  height: $header-height;
  justify-content: space-between;
  max-width: $site-max-width;
  margin: 0 auto;
  padding: $space;
}

.header__title {
  margin: 0;
}
.header_nav_toggle{
  cursor: pointer;
  width: 2rem;
  height: 2rem;

  @include desktopView{
    display:none;
  }
}
