//******************************************** EMPTY ITEM ********************************************
.empty-item{
  font-style: italic;
  padding: $space;
  text-align: center;
}

//******************************************** ITEM LIST HEADER ********************************************
.item-list__header{
display: flex;
flex-direction: column;
padding: $large-space;
}

//******************************************** ITEM LIST ********************************************
.item-list {
  background-color: white;
  border: 1px solid $grey;
  overflow-y: scroll;
  width: 100%;
  -webkit-overflow-scrolling:touch;//momuntum scrolling
}

//******************************************** ITEM ********************************************
.item {
border-left:  $itemBorderWidth solid transparent;
cursor: pointer;
padding: $space;
transition: background-color .3s ease, border-left .3s ease;

}

.item:hover{
  background-color: $light-grey;
  border-left: $itemBorderWidth solid $grey;
}

.item--selected, .item--selected:hover{
  background-color: $light-grey;
  border-left: $itemBorderWidth solid $medium-purple;
}

.item__title{
  font-weight: normal;
  font-size: $base-font-size;
  margin-bottom: .4rem;
    color:$light-purple;
}

.item--selected .item__title{
  color:$medium-purple;
  font-weight: bold;
}

.item__date{
  color: $dark-grey;
  margin: 0;
}
